@import "common.less";

/* LAYOUT */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 100%;
}

#header-wrapper {
    height: @header-height;
    margin: auto;
}

#logo {
    float: left;
    padding: 0 1em;
    line-height: @header-height;
}

#main-nav .tab {
    float: left;
}

#main-nav ul {
    padding: 0 1em;
    float: right;
}

#main-nav .tab a {
    display: block;
    line-height: @header-height;
    padding: 0 1em;
}

#content {
    clear: both;
    margin: auto;
    margin-top: 2em;
}

#header-wrapper,
#content {
    font-size: @content-font-size;
    max-width: @content-max-width;
}

/* DESIGN */

body {
    background-color: #F5F5F5;
}

header {
    background-color: #1A1A1A;
}

#logo {
    font-family: "Dejavu Serif", "Courier New", "Arial", sans-serif;
    color: #DDD;
    font-weight: bold;
}

#main-nav {
    font-family: Georgia, serif;
    font-weight: bold;
}

#main-nav .tab a {
    color: #DDD;
    text-decoration: none;
}

#main-nav .tab a:hover {
    background-color: #333;
    color: white;
    .transition(~"background-color, color", 125ms, ease-in-out, 0);
}

#main-nav .tab.active a {
    .linear-gradient(#080808, #3C3C3C);
    .box-shadow (0, 0, 2px, 0, rgba(255, 255, 255, 0.3));
    color: #FFF;
}
