{% import "social.j2" as social with context %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ author.name }}'s Website</title>
        <meta name="HandheldFriendly" content="true" />
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no" />
        <link type="text/css" rel="stylesheet" href="{{ media_url('css/ink-min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ media_url('css/style.css') }}">
        {% block extra_style %}{% endblock %}
        <link rel="icon" type="image/ico" href="{{ media_url('images/favicon.ico') }}">
        <script type="text/javascript" src="{{ media_url('js/ink-all.js') }}"></script>
        <script type="text/javascript" src="{{ media_url('js/autoload.js') }}"></script>
        {% block extra_scripts %}{% endblock %}
        {{ social.google_analytics_script() }}
    </head>
    <body>
        <header>
            <nav class="ink-navigation ink-grid">
                 <ul class="menu vertical black flat hide-all show-small">
                    <li>
                    <a class="logo">{{ author.name }}</a>
                    <button class="toggle" data-target="#vertical-menu-options"><span class="icon-reorder"></span></button>
                    </li>
                 </ul>
                 <ul id="vertical-menu-options" class="menu vertical black flat hide-all">
                    <div>
                        {% for section in content.menu %}
                        {% set section_url = content_url(section.url) %}
                        {% if section_url == resource.url or resource.url == "/about.html" and section.index %}
                        {% set active = " active" %}
                        {% else %}
                        {% set active = "" %}
                        {% endif %}
                        <li class="tab{{ active }}"><a href="{{ section_url }}">{{ section.name }}</a></li>
                        {% endfor %}
                    </div>
                </ul>
                <ul class="menu horizontal black flat hide-small">
                    <li><a class="logo">{{ author.name }}</a></li>
                    <div class="push-right">
                    {% for section in content.menu %}
                    {% set section_url = content_url(section.url) %}
                    {% if section_url == resource.url or resource.url == "/about.html" and section.index %}
                    {% set active = " active" %}
                    {% else %}
                    {% set active = "" %}
                    {% endif %}
                    <li class="tab{{ active }}"><a href="{{ section_url }}">{{ section.name }}</a></li>
                    {% endfor %}
                    </div>
                </ul>
            </nav>
        </header>

        <div id="content" class="ink-grid">
            <div class="vertical-space">
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
