{% macro lorem_ipsum() -%}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem tempore mollitia ab natus possimus alias adipisci sunt optio doloribus tenetur. Quas, culpa, quibusdam voluptate architecto pariatur cum possimus asperiores impedit.
{%- endmacro %}
