{% macro facebook_script() -%}
<!-- Facebook code -->
<div id="fb-root"></div>
<script> (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk')); </script>
{%- endmacro %}

{% macro facebook_button() -%}
<!-- Facebook button -->
<div class="facebook-button social-button">
    <div class="fb-like" data-href="{{ author.website }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
</div>
{%- endmacro %}

{% macro twitter_button() -%}
<!-- Twitter button -->
<div class="twitter-button social-button">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ author.website }}" data-via="{{ author.tweet_via }}">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
{%- endmacro %}


{% macro github_button() -%}
<!-- Github button -->
<div class="github-button social-button">
    <a  href="{{ author.github_link }}"><img src="{{ media_url('images/github-mark.png') }}" alt="Github social button"></a>
</div>
{%- endmacro %}

{% macro mail_button() -%}
<!-- Mail button -->
<div class="mail-button social-button">
    <a  href="mailto:{{ author.email }}"><img src="{{ media_url('images/email-icon.png') }}" alt="Mail button"></a>
</div>
{%- endmacro %}

{% macro google_analytics_script() -%}
{% if site.config.mode == "production" %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ google_analytics.tracking_id }}', '{{ google_analytics.website }}');
  ga('send', 'pageview');
</script>
{% endif %}
{%- endmacro %}
