{% extends "base.j2" %}
{% import "macros.j2" as macros %}

{% macro portfolio_project(proj_url, proj_name, img_url) %}
        <div class="project column-group half-vertical-gutters">
            <h4 class="proj_title large-100"><a href="{{ proj_url }}">{{ proj_name }}</a></h2>
            <label class="large-25">Screenshot:</label>
            <div class="image_container large-75"><img src="{{ media_url(img_url) }}"/></div>
            <label class="large-25">Description:</label>
            <p class="proj_description large-75">{{ caller() }}</p>
        </div>
{% endmacro %}

{% block content %}
    <div id="portfolio">
        <h1 class="page_title">Portfolio</h1>

        {% call portfolio_project('/', 'fvieira.pt', 'images/fvieira_pt.png') %}
            {{ macros.lorem_ipsum() }}
        {% endcall %}

        {% call portfolio_project('https://github.com/sapo/meocloud-cli/', 'MEO Cloud CLI Linux', 'images/meocloud_cli.png') %}
            {{ macros.lorem_ipsum() }}
        {% endcall %}

        {% call portfolio_project('/portfolio/random_music_generator', 'Random Music Generator', 'images/rmg.png') %}
            {{ macros.lorem_ipsum() }}
        {% endcall %}

    </div>
{% endblock %}
