{% extends "base.j2" %}
{% import "macros.j2" as macros %}
{% block extra_scripts %}
    <script type="text/javascript" src="{{ media_url('js/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ media_url('js/random_music_generator.js') }}"></script>
{% endblock %}

{% block content %}
{#
<input type="text" name="username" id="username">
<input type="text" name="password" id="password">
<select id="item" name="item">
    <option value="1">Blue</option>
    <option value="3">Pink</option>
    <option value="4">Black</option>
</select>
#}
{#
{
    "pitches": [0, 2, 4, 5, 7, 9, 11, 12, 14, 16, 17, 19, 21, 23],
    "durations": [[1, 10], [0.875, 1], [0.75, 5], [0.5, 30], [0.375, 5], [0.25, 50], [0.125, 50]],
    "measure_size": 4,
    "rest_probability": 0.20,
    "tie_probability": 0.3333,
    "length": 50
}
#}
<p>Measure size: <input type="text" name="measure_size" id="measure_size" value="4"/></p>
<p>Rest Probability: <input type="text" name="rest_probability" id="rest_probability" value="0.20"/></p>
<p>Tie Probability: <input type="text" name="tie_probability" id="tie_probability" value="0.3333"/></p>
<p>Length: <input type="text" name="length" id="length" value="50"/></p>

<div>
    <input type="button" id="generate_random_music_btn" onclick="generate_random_music();" name="submit" value="Generate random music"/>
</div>

<div id="download_buttons">
    <p id="waiting_message" style="display:none;">Generating random files, please wait a moment...</p>
    <a id="get_music_as_ly_btn" style="display: none;">Download as .ly</a>
    <a id="get_music_as_pdf_btn" style="display: none;">Download as .pdf</a>
    <a id="get_music_as_midi_btn" style="display: none;">Download as .midi</a>
</div>
{% endblock %}
