{% extends "base.j2" %}
{% import "macros.j2" as macros %}
{% block extra_scripts %}
    <script type="text/javascript" src="{{ media_url('js/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ media_url('js/vexflow-min.js') }}"></script>
{% endblock %}
{% block extra_style %}
<style>
.space_top {
    margin-top: 20px;
}
</style>
{% endblock %}

{% block content %}
<div class="space_top">
    <p>Pitches:</p>
    {% set default_pitches = [-8, -7, -5, -3, -1, 0, 2, 4, 5, 7, 9, 11, 12, 14, 16, 17, 19, 21, 23, 24, 26, 28] %}
    <canvas id="pitches_canvas1" width="950" height="120"></canvas>
    <div style="margin-left: 25px">
        {% for pitch in range(-8, 11) %}
        <input type="checkbox" name="pitches" value="{{ pitch }}" style="margin-left: 26px" {% if pitch in default_pitches %}checked{% endif %}>
        {% endfor %}
    </div>
    <canvas id="pitches_canvas2" width="950" height="100"></canvas>
    <div style="margin-left: 25px">
        {% for pitch in range(11, 30) %}
        <input type="checkbox" name="pitches" value="{{ pitch }}" style="margin-left: 26px" {% if pitch in default_pitches %}checked{% endif %}>
        {% endfor %}
    </div>
</div>

<div class="space_top">
    <p>Durations:</p>
    <canvas id="durations_canvas" width="500" height="100"></canvas>
    <div>
        {% for duration, checked, margin_left in [("1", True, 53), ("0.875", False, 77), ("0.75", False, 70),
                                                  ("0.5", True, 55), ("0.375", False, 36), ("0.25", True, 28), ("0.125", True, 22)] %}
        <input type="checkbox" name="durations" value="{{ duration }}" style="margin-left: {{ margin_left }}px" {% if checked %}checked{% endif %}>
        {% endfor %}
    </div>
    <div>
        {% for duration_probability, margin_left in [("10", 53), ("1", 55), ("5", 48), ("30", 33), ("5", 12), ("50", 6), ("50", 0)] %}
        <input type="text" name="duration_probability" size="3" value="{{ duration_probability }}" style="margin-left: {{ margin_left }}px"/>
        {% endfor %}
    </div>
</div>

<div class="space_top">
    <p>Measure size: <input type="text" name="measure_size" id="measure_size" value="4"/></p>
</div>
<div class="space_top">
    <p>Rest Probability: <input type="text" name="rest_probability" id="rest_probability" value="0.20"/></p>
</div>
<div class="space_top">
    <p>Tie Probability: <input type="text" name="tie_probability" id="tie_probability" value="0.3333"/></p>
</div>
<div class="space_top">
    <p>Length: <input type="text" name="length" id="length" value="50"/></p>
</div>

<div class="space_top">
    <input type="button" id="generate_random_music_btn" name="submit" value="Generate random music"/>
</div>

<div id="download_buttons" class="space_top">
    <p id="waiting_message" style="display:none;">Generating random files, please wait a moment...</p>
    <a id="get_music_as_ly_btn" style="display: none;">Download as .ly</a>
    <a id="get_music_as_pdf_btn" style="display: none;">Download as .pdf</a>
    <a id="get_music_as_midi_btn" style="display: none;">Download as .midi</a>
</div>

<script type="text/javascript" src="{{ media_url('js/random_music_generator.js') }}"></script>
{% endblock %}
